<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nihil nesciunt maiores tempora, aliquid quae
        necessitatibus ipsum recusandae repellat quia.</p>
    <p>Aut tempore consequatur quaerat, iure pariatur sunt placeat, voluptates architecto ea, commodi similique et?
        Delectus in saepe repudiandae repellat cumque.</p>
    <p>Inventore, ut. Dolorum iusto recusandae commodi totam praesentium, ratione necessitatibus ducimus magnam amet
        nostrum eaque debitis beatae quos laborum illo.</p>
</body>

</html>